<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>Unicode Info.py</string>
			<key>preferredName</key>
			<string>Unicode Info</string>
			<key>shortKey</key>
			<string>u</string>
		</dict>
	</array>
	<key>developer</key>
	<string>Jens Kutilek</string>
	<key>developerURL</key>
	<string>http://www.kutilek.de/</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string>Unicode Info.py</string>
	<key>name</key>
	<string>Unicode Info</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>0</string>
	<key>timeStamp</key>
	<real>1708720555.0</real>
	<key>version</key>
	<string>2.1.2</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>repository</key>
		<string>jenskutilek/RFUnicodeInfo</string>
		<key>summary</key>
		<string>Display Unicode name, block, orthography, and glyph name info in a window.</string>
	</dict>
</dict>
</plist>
